// GENERATED CODE! Don't modify.

package {{.Package}}

import (
  "context"
  "fmt"
	{{ .AdditionalImports }}

  "github.com/jackc/pgx/v5/pgxpool"
)

// DatabaseFunctions contains your database functions.
type DatabaseFunctions struct {
  db *pgxpool.Pool
}

{{ range .Functions }}
func (df *DatabaseFunctions) {{.ToPascalCase}} (ctx context.Context {{- if .HasArgs -}}, {{.Args "go"}} {{- end}}) ({{- if .ReturnsValue}}{{.LanguageReturnType "go"}}, {{end -}} error) {
  const stmt = `{{ .FunctionBody -}}`

  {{if .ReturnsValue -}}
    row := df.db.QueryRow(ctx, stmt {{- if .HasArgs -}}, {{.QueryArgs "go"}} {{- end}})
	
	var val {{.LanguageReturnType "go"}}
	if err := row.Scan(&val); err != nil {
		return {{.DefaultReturnValue "go"}}, fmt.Errorf("calling {{.Name}}: %w", err)
	}

	return val, nil
  {{- else -}}
    _, err := df.db.Exec(ctx, stmt {{- if .HasArgs -}}, {{.QueryArgs "go"}} {{- end}})
    if err != nil {
      return fmt.Errorf("calling {{.Name}}: %w", err)
    }

    return nil
  {{end -}}
}
{{end}}